<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated virtualization -->
      <package
            uri="http://virtualization/1.0"
            class="virtualization.VirtualizationPackage"
            genModel="model/virtualization.genmodel"/>
   </extension>

</plugin>
